/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    padding: 20px;
    color: #f1f5f9;
     background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



h1 {
    text-align: center;
    color: #e2e8f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e293b;
    border: 2px solid #334155;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

caption {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #38bdf8;
}

th {
    background-color: #020617;
    color: #f8fafc;
    padding: 12px;
    border: 1px solid #475569;
}

td {
    padding: 10px;
    border: 1px solid #475569;
    text-align: center;
    background-color: #334155;
    color: #e2e8f0;
    font-family: 'Times New Roman', Times, serif;
}

tfoot td {
    background-color: #020617;
    color: #38bdf8;
    font-weight: bold;
    padding: 12px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #38bdf8;
}

/* TABLA IZQUIERDA */
/* ESTILO GENERAL DE LAS TABLAS */

table {
    width: 250px;
    border-collapse: collapse;
    background-color: #1e293b;
    color: white;
    margin-bottom: 30px;
}

th {
    background-color: #020617;
    padding: 10px;
    border: 1px solid #475569;
}

td {
    padding: 8px;
    border: 1px solid #475569;
    text-align: center;
}

caption {
    color: #38bdf8;
    font-weight: bold;
    margin-bottom: 10px;
}

tfoot td {
    background-color: #020617;
    color: #38bdf8;
}

/* TIPOS DE LETRA */

.texto-rojo {
    color: rgb(0, 60, 255);
    font-family: Verdana;
}

.texto-cursiva {
    font-style: italic;
    font-family: Georgia;
}

.texto-negrita {
    font-weight: bold;
    font-family: Tahoma;
}







.texto-azul {
    color: cyan;
    font-family: Comic Sans MS;
}



/* Contenedor principal */
.contenedor-columnas {
    width: 100%;
    display: block;
    overflow: hidden; /* Limpia los floats */
}

/* Tabla a la izquierda */
.tabla-izq {
    float: left;
    width: 30%;
    border-collapse: collapse;
}

/* Tabla a la derecha */
.tabla-der {
    float: right;
    width: 30%;
    border-collapse: collapse;
}

/* Tabla al centro */
.tabla-cen {
    margin: 0 auto;
    width: 30%;
    border-collapse: collapse;
    display: table;
}

/* Ajustes generales para las celdas */
th, td {
    padding: 8px;
    text-align: center;
}
body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
}

h1 {
    width: 300px;
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    color: white;
    background-color: #1e293b;
    border-width: 6px;
}

/* TIPOS DE BORDES */

.solid {
    border-style: solid;
    border-color: aqua;
    border-width: 3px;
    border-radius: 5px 30px ;
}

.dotted {
    border-style: dotted;
    border-color: aqua;
    border-width: 3px 4px 5px 7px;
    border-radius: 10px;
}

.dashed {
    border-style: dashed;
    border-color: #334155;
    border-radius: 15px;
}

.double {
    border-style: double;
    border-color: #a11f35;
    border-radius: 20px;
}

.groove {
    border-style: groove;
    border-color: #3a1d06;
    border-radius: 25px;
}

.ridge {
    border-style: ridge;
    border-color: rgb(17, 85, 85);
    border-radius: 30px;
}

.inset {
    border-style: inset;
    border-color: rgb(138, 120, 97);
    border-radius: 35px;
}

.outset {
    border-style: outset;
    border-color: rgb(132, 39, 151);
    border-radius: 50px;
    
}

.none {
    border-style: none;
    border-color: #38bdf8;
}

.hidden {
    border-style: hidden;
}
.bordes-diferentes {
    text-align: center;
    background-color: #1e293b;
    color: white;

    border-top:  solid rgb(88, 22, 22);
    border-right:  dashed rgb(12, 12, 102);
    border-bottom: dotted rgb(14, 61, 14);
    border-left:  double rgb(136, 136, 36);
    border-radius: 70px;
}

.caja {
    width: 500px;
    height: 250px;
    margin: 30px auto;
    border: 4px solid white;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_nq670I9b2R_1ZzSqmKjy_1tGe0t8zoEs_Q&s");
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    text-align: center;
    line-height: 10px;
}

/* AUTO */

.auto {
    background-size: auto;
}

/* COVER */

.cover {
    background-size: cover;
}

/* CONTAIN */

.contain {
    background-size: contain;
}

